{% extends "model-page.html" %}

{% block content %}

<div align="center"><h1>Criar Anuncio<h1></div>


<form action="submit" method="POST">{% csrf_token %}
    <div align="center"><label>Título</label>
    <input type="number" name="id_post" value="{{post.id}}" hidden>
    <br>
    <input type="text" name="titulo" value="{{post.titulo}}">
    <br>
    <label>Descrição</label>
    <br>
    <input type="text" name="descricao" value="{{post.descricao}}">
    <br>
    <label>Preço:</label>
    <br>
    <input type="number" step=0.01 name="Preço" value="{{post.Preço}}">
    <br>
    <br><br>
    <button type="submit">Salvar</button>
    <a href="/">
    <button type="button">Cancelar</button>
    </a>
</div>
</form>

{% endblock %}