{% extends "model-page.html" %}


{% block content %}
<div align="center">

        <form action="submit" method="POST">{% csrf_token %}

            <div align="center"><label>Nome Completo</label>
            <input type="number" name="id_perfil" value="{{perfil.id}}" hidden>
            <br>
            <br>    
            <input type="text" name="nome_completo" value="{{perfil.nome_completo}}">
            <br>
            <br>
            <label>CPF</label>
            <br>
            <input type="text" name="cpf" value="{{perfil.cpf}}">
            <br>
            <br>
            <label>Telefone</label>
            <br>
            <input type="text" name="telefone" value="{{perfil.telefone}}">
            <br>
            <br>
        
            <button type="submit">Salvar</button>
        <a href="/">
            <button type="button">Cancelar</button>
        </a>
    </form>
</div>

{% endblock %}