{% extends "model-page.html" %}


{% block content %}
<div align="center">
    <form method="POST">

        <form action="submit" method="POST">{% csrf_token %}

            <div align="center"><label>Nome Completo</label>
            <br>    
            <input type="text" name="nome_completo" value="{{Perfil.nome_completo}}">{{Perfil.nome_completo}}
            <br>
            <br>
            <label>CPF</label>
            <br>
            <input type="text" name="cpf" value="{{Perfil.cpf}}">
            <br>
            <br>
            <label>Telefone</label>
            <br>
            <input type="text" name="telefone" value="{{Perfil.telefone}}">
            <br>
            <br>
        
        <input type="submit" value="Confirmar" class="btn btn-sucess">
        <a href="/">
            <button type="button">Cancelar</button>
        </a>
    </form>
</div>

    <h2>Meus dados</h2>
    <ul style="font-size: 18px">
    {% for perfil in perfils %}
    <li>
        {{ perfil.nome_completo }} 
        <br>
        {{ perfil.cpf }}
        <br>
        {{ perfil.telefone }} 
    </li>
    {% endfor %}
    </ul>

{% endblock %}
