{% extends "model-page.html" %}

{% block content %}
<div align="right">
    <br>
    <a href="/atualizar-dados">Meus dados</a>
</div>
    <h2>Anuncios</h2>
    <a href="anunciar/">
    <button type="button">Criar anuncio</button>
    </a>
        <ul style="font-size: 18px">
        {% for post in posts %}
        <li>
            {{ post.titulo }} - {{ post.Preço }} 
            ( <a href="anunciar/?id={{post.id}}">Editar</a>
            /<a href="anunciar/delete/{{ post.id }}">Excluir</a>)
        </li>
        {% endfor %}
        </ul>

{% endblock %}