{% extends "model-page.html" %}

{% block content %}

<div class="offset-1 col-10 list-div">
    <h1>Anuncios</h1>
    <div class="col-2 add-div">
        <a href="anunciar/">
        <i class="fas fa-plus"></i> Criar anuncio
        </a>
    </div>
    
        <ul class="post-list">
        <li class="post-item">
            {% for post in posts %}
        
            
            
                <div id="favourite-section">
                
                    {{ post.titulo }}<a href="/GAMELAND/{{post.id}}/{{post.slug}}">
                        <i class="fa-solid fa-eye"></i></a> <a href="{% url 'favourite_post' post.id %}">
                        <i class="far fa-heart"></i>
                    </a>

                </div>
            {% endfor %}
        </li>
        </ul>
</div>
        
{% endblock %}