{% block content %}

<script src="https://kit.fontawesome.com/47fbcab629.js" crossorigin="anonymous"></script>

</div>
    <h2>Meus Anuncios</h2>
    
        <ul style="font-size: 18px">
        {% for post in posts %}
        <li>
            {{ post.titulo }} - {{ post.Preço }} 
            ( <a href="anunciar/?id={{ post.id }}">
                <i class="fa-solid fa-pencil"></i>Edit
            </a>
            /<a href="anunciar/delete/{{ post.id }}">
                <i class="fa-solid fa-trash-can"></i>
                Excluir
            </a>)
        </li>
        {% endfor %}
        </ul>

    <br>
    
        <a href="/">
            <button type="button">Retornar</button>
        </a>

           

{% endblock %}