{% block content %}

<script src="https://kit.fontawesome.com/47fbcab629.js" crossorigin="anonymous"></script>

    <h2>Meus dados</h2>
    <ul style="font-size: 18px">   
    {% if perfils.count > 0 %} 
    {% for perfil in perfils %}
    <li>
        <label>Nome:</label>
        {{ perfil.nome_completo }} 
        <br>
        <br>
        <label>CPF:</label>
        {{ perfil.cpf }}
        <br>
        <br>
        <label>Telefone:</label>
        {{ perfil.telefone }} 
        <br>
        <br>
        <a href="atualizar-dados/?id={{ perfil.id }}">
            <i class="fa-solid fa-pen"></i>EDITAR
        </a>
        
    </li>
    {% endfor %}
    
    {% else %}
    <a href="atualizar-dados/">Criar Perfil</a>
    {% endif %}
    </ul>
    <br>
    <br>
   
    
    <a href="/">
        <button type="button">Retornar</button>
    </a>

    

{% endblock %}
