{% extends "model-page.html" %}

{% block content %}

</div>
    <h2>Anuncio</h2>
   
    
        <ul style="font-size: 18px">
        
        <li>
            <label>Titulo:</label>
           
            {{ post.titulo }} 
            <br>
            <br>
            <label>Preço:</label>
            
            {{ post.Preço }}
            <br>
            <br>
            <label>Descricao:</label>
          
            {{ post.descricao }}

            <br><br>

            {{post.quantidade_likes}} likes
            
            
        </li>

        <a href="{% url 'dar_like' post.id %}">
           {% if tem_like %} 
           Dislike
           {% else %}
           Like
           {% endif %}
        </a>

        {% if total > 0 %}
        <h2>{{total}} comments</h2>
       {% else %}
       <h2>No comments</h2>
       {% endif %}
    
        {% for item in comments %}
        <ul>
          
          <li>
            
              <h4>{{item.name}}<span>-{{item.created_at|date:"d/m/Y"}}</span></h4>
              <p> {{item.comment}} </p>

          </li>
          
        </ul>
        {% endfor %}

    
    <br>
    <h2>Deixe um comentário</h2>
    <form id="comment" action="/GAMELAND/ver-anuncio/{{post.id}}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <fieldset>
                    <input name="name" type="text" id="name" placeholder="your name" required="">
                </fieldset>
            </div>
        </div>
            <div class="col-lg-12">
                <fieldset>
                    <textarea name="comment" rows="6" id="message" placeholder="Type your comment" required=""></textarea>
                </fieldset>
            </div>
        <div class="col-lg-12">
            <fieldset>
             <button type="submit" id="form-submit" class="main-button">Submit</button>
            </fieldset>
        </div>
     </form>

    <br>
     
        <a href="/">
            <button type="button">Retornar</button>
        </a>
    
           
{% endblock %}