{% extends "model-page.html" %}

{% block content %}

</div>
    <h2>Anuncio</h2>
    
        <ul style="font-size: 18px">
        {% for post in posts %}
        <li>
            <label>Titulo:</label>
           
            {{ post.titulo }} 
            <br>
            <br>
            <label>Preço:</label>
            
            {{ post.Preço }}
            <br>
            <br>
            <label>Descricao:</label>
          
            {{ post.descricao }}
            
            
        </li>
        {% endfor %}
        <br>

        <form action="submit" method="POST">{% csrf_token %}

            <label>Comentarios:</label>
            <input type="number" name="id_coment" value="{{coment.id}}" hidden>
            <br>
            <br>    
            <input type="text" name="comentario" value="{{coment.comentario}}">
           
            <button type="submit">Salvar</button>
        
    </form>
    <br>

    <ul style="font-size: 18px">

        {% for coment in coments %}
        <li>
            {{ coment.comentario }} 
            
        </li>

        {% endfor %}

    </ul>

    <br>
       
        
        <a href="/">
            <button type="button">Retornar</button>
        </a>
    
           
{% endblock %}