{% load static %}
{% block content %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GAMELAND</title> 
    <script src="https://kit.fontawesome.com/47fbcab629.js" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head> 
<body>       
<script src="https://kit.fontawesome.com/47fbcab629.js" crossorigin="anonymous"></script>

</div>
    <h2>Anuncio</h2>
   
    
        <ul style="font-size: 18px">
        
        <li>
           
            <label>Titulo:</label>
           
            {{ post.titulo }} 
            <br>
            <br>
            <label>Preço:</label>
            
            {{ post.Preço }}
            <br>
            <br>
            <label>Descricao:</label>
          
            {{ post.descricao }}

            <br><br>

            <img src="{{post.imagem.url}}" alt="image not found">

            <br><br>

            {{post.quantidade_likes}} likes
            
            
        </li>

        <div id="like-section">
            
            <a href="{% url 'dar_like' post.id %}">
                {% if tem_like %}
                <i class="fa fa-thumbs-down"></i>
                {% else %}
                <i class="fa fa-thumbs-up"></i>
                {% endif %}
            </a>

        {% if total > 0 %}
        <h2>{{total}} comments</h2>
       {% else %}
       <h2>No comments</h2>
       {% endif %}
    
        {% for item in comments %}
        <ul>
          
          <li>
            
              <h4>{{item.name}}<span>-{{item.created_at|date:"d/m/Y"}}</span></h4>
              <p> {{item.comment}} </p>

          </li>
          
        </ul>
        {% endfor %}

    
    <br>
    <h2>Deixe um comentário</h2>
    <form id="comment" action="/GAMELAND/ver-anuncio/{{post.id}}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <fieldset>
                    <input name="name" type="text" id="name" placeholder="your name" required="">
                </fieldset>
            </div>
        </div>
            <div class="col-lg-12">
                <fieldset>
                    <textarea name="comment" rows="6" id="message" placeholder="Type your comment" required=""></textarea>
                </fieldset>
            </div>
        <div class="col-lg-12">
            <fieldset>
             <button type="submit" id="form-submit" class="main-button">Submit</button>
            </fieldset>
        </div>
     </form>

    <br>
     
        <a href="/">
            <button type="button">Retornar</button>
        </a>
      
{% endblock %}
</body> 
</html>